BACKGROUND_WORKER_INTERVAL=5m
BACKGROUND_WORKER_PERIOD_DURATION=4h
DATABASE_HOST=storage
DATABASE_PORT=5432
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
DATABASE_DB_NAME=activityservice
APP_PORT=8080
LOG_LEVEL=INFO
CORS_ORIGINS=http://localhost